In [1]:
import pandas as pd # IMPORTING PANDAS

In [2]:
df=pd.read_csv('car.data', names=['buying','maint','doors','persons','lug_boot','safety','class']) # READING THE CAR DATA

In [3]:
df.head() # PRINTING THE DATA BUT THE FIRST 5 COLUMNS ONLY

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [4]:
df['class'].value_counts() # OBTAINING THE VALUE COUNTS

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [6]:
# FACTORIZING LIKE GIVING NUMERICAL VALUES TO THE DATA 
df['buying'],a=pd.factorize(df['buying']) 
df['maint'],a=pd.factorize(df['maint'])
df['lug_boot'],a=pd.factorize(df['lug_boot'])
df['safety'],a=pd.factorize(df['safety'])
df['class'],a=pd.factorize(df['class'])
df['doors'],a=pd.factorize(df['doors'])
df['persons'],a=pd.factorize(df['persons'])

In [7]:
df.head() # CHECKING THE EFFECT OF FACTORISING

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [8]:
X=df.iloc[:,:-1] # THE DATAFRAME WILL NOT INCLUDE CLASS

In [10]:
X.head() # CHECKING THE DATASET AGAIN

   buying  maint  doors  persons  lug_boot  safety
0       0      0      0        0         0       0
1       0      0      0        0         0       1
2       0      0      0        0         0       2
3       0      0      0        0         1       0
4       0      0      0        0         1       1

In [12]:
y=df.iloc[:,-1] # TAKING CLASS TO BE OUR Y  VARIABLE

In [14]:
y.head() # PRINTING THE Y VARIABLE

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split # IMPORTING TRAIN TEST

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42,stratify=df['class'],shuffle=True) 
# SPLITTING THE DATA INTO TRAINING AND TESTING SET

In [17]:
y_train.value_counts()# COUNTING VALUES IN TRAIN SET

0    968
1    307
3     55
2     52
Name: class, dtype: int64

In [18]:
y_test.value_counts()# COUNTING VALUES IN TEST SET

0    242
1     77
3     14
2     13
Name: class, dtype: int64

In [19]:
from sklearn.neighbors  import KNeighborsClassifier 
# USED FOR CLASSIFICATION

In [20]:
knn=KNeighborsClassifier()

In [21]:
# FITTING THE MODEL INTO OUR DATA 
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [22]:
from sklearn.metrics import  accuracy_score, confusion_matrix, auc, precision_score, recall_score, roc_auc_score
# importing accuracy score to test our model

In [23]:
y_pred=knn.predict(X_test)

In [24]:
print('Precision: %.2f'%(accuracy_score(y_pred,y_test)*100))

Precision: 93.35

In [25]:
confusion_matrix(y_pred,y_test) #  use to evaluate the model

array([[239,  10,   0,   2],
       [  3,  66,   2,   3],
       [  0,   1,  10,   1],
       [  0,   0,   1,   8]], dtype=int64)

In [26]:
from sklearn.metrics import classification_report

In [27]:
target_names = ['unacc', 'acc', 'good', 'vgood' ]

In [28]:
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

       unacc       0.95      0.99      0.97       242
         acc       0.89      0.86      0.87        77
        good       0.83      0.77      0.80        13
       vgood       0.89      0.57      0.70        14

    accuracy                           0.93       346
   macro avg       0.89      0.80      0.83       346
weighted avg       0.93      0.93      0.93       346

# 93% accuracy

In [29]:
from sklearn.naive_bayes import GaussianNB 
#

In [30]:
nb=GaussianNB()

In [31]:
nb.fit(X_train,y_train)

GaussianNB()

In [32]:
y_pred=nb.predict(X_test)

In [33]:
print('Precision: %.2f'%(accuracy_score(y_pred,y_test)*100))

Precision: 68.79

In [ ]:
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

       unacc       0.85      0.86      0.86       242
         acc       0.58      0.19      0.29        77
        good       0.18      1.00      0.31        13
       vgood       0.50      0.14      0.22        14

    accuracy                           0.69       346
   macro avg       0.53      0.55      0.42       346
weighted avg       0.75      0.69      0.68       346

In [34]:
from sklearn.svm import SVC

In [35]:
sv=SVC()

In [36]:
sv.fit(X_train,y_train)

SVC()

In [37]:
y_pred=sv.predict(X_test)

In [38]:
print('Precision: %.2f'%(accuracy_score(y_pred,y_test)*100))

Precision: 95.95

In [39]:
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

       unacc       0.99      0.98      0.98       242
         acc       0.87      0.99      0.93        77
        good       0.92      0.85      0.88        13
       vgood       1.00      0.64      0.78        14

    accuracy                           0.96       346
   macro avg       0.95      0.86      0.89       346
weighted avg       0.96      0.96      0.96       346

In [40]:
from sklearn.ensemble import  RandomForestClassifier

In [41]:
rand=RandomForestClassifier()

In [42]:
rand.fit(X_train,y_train)

RandomForestClassifier()

In [43]:
y_pred=rand.predict(X_test)

In [44]:
print('Precision: %.2f'%(accuracy_score(y_pred,y_test)*100))

Precision: 97.11

In [ ]:
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

       unacc       1.00      0.99      0.99       242
         acc       0.91      0.96      0.94        77
        good       0.85      0.85      0.85        13
       vgood       0.92      0.79      0.85        14

    accuracy                           0.97       346
   macro avg       0.92      0.90      0.91       346
weighted avg       0.97      0.97      0.97       346

coclusion
upon these models i have used the random forest classifier is the best in comoarison to accuraccy